/* 
COLOR PALETTE
https://coolors.co/202c39-283845-b8b08d-f2d492-f29559
#202C39 - Gunmetal
#283845 - Charcoal
#B8B08D - Sage
#F2D492 - Deep Champagne
#F29559 - Atomic Tangerine
#F4F2F7 - Ghost White
*/


/* Global styles
----------------------------- */
html    {
    box-sizing: border-box;
}
*, *:before, *:after   {
    box-sizing: inherit;
}
body {
    color:#253D5B;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 0.25;
}
.wrapper {
    display: grid;
    flex-flow: row wrap;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-gap: 10px;
    color: #444;
    max-width: 900px;
    width: 85%;
    margin: 0 auto;
    padding: 30px 10px 30px 10px;
  }
  
  .box {
    background-color: #B8B08D;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }





/* Navigation
-------------------------------*/
ul.a  {
    text-align: center;
    list-style: none;
    background-color: #202C39;
    padding: 20px;
    margin: 0px;
    margin-bottom: -50px;
}
ul.a li   {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    color: #B8B08D;
}
ul.a li:hover {
    background: #283845;
    color: #F2D492;
}
ul.a li ul    {
    padding: 0;
    position: absolute;
    top: 48px;
    left: -10000px;
    width: 150px;
}
ul.a li ul li {
    background: #283845;
    display: block;
    color: #B8B08D;
}
ul.a li ul li:hover   {
    background: #202C39;
}
ul.a li:hover ul  {
    display: block;
    left: 0px;
}



/* Site
-----------------------------*/
img {
    width: 400px;
}
a {
    color:#B8B08D;
}
a:visited {
    color: #283845;
}
a:hover {
    text-decoration: none;
}
h1  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    font-weight: 500;


}
h2  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: 300;
}

.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 30px 10px 30px 10px;
}
    




/*  Site Title
--------------------------------*/ 
header {
     background-color: #202C39;
     color:#F4F2F7;
}



/* Header Image
----------------------------- */



/* Work
----------------------------- */



/* Footer
----------------------------- */
.footer {
    background: #202C39;
    color: #F4F2F7;
    margin-top: 251px;
    
}
.contact-list {
    list-style-type: none;
    padding: 0;
}
.contact-list a {
    padding: 15px;
    display: inline-block;
}





/* Responsive Styles
------------------------------ */
@media screen and (min-width:750px)  {

    header, footer {
        text-align: center;
    }
    .contact-list   {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:749px) {
    h1  {
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h1, h2  {
        line-height: 1;
    }


}